/*=========== event_date_area css ==========*/
.event_date_area{
    background: $light_blue;
    padding: 100px 0px;
}
.flex{
    flex: 1;
    justify-content: center;
    align-self: center;
}
.evet_location{
    color: #fff;
    h3{
        padding-bottom: 5px;
    }
    p{
        margin-bottom: 0px;
        span{
            padding-right: 12px;
        }
    }
}
.event_time{
    color: #fff;
    text-align: center;
    h4{
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 20px;
    }
    .timer{
        background: rgba(255, 255, 255, 0.30);
        overflow: hidden;
        padding: 27px 0px;
        .timer__section{
            float: left;
            overflow: hidden;
            color: #fff;
            width: calc(100% / 4);
            .timer__number{
                font: 600 36px/45px $pop;
            }
            .timer__label{
                font-size: 14px;
                line-height: 22px;
                text-transform: capitalize;
                font-weight: 400;
            }
        }
    }
}
h3{
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
}

//about_area css 
.about_area{
    img{
        max-width: 100%;
    }
}
.about_content{
    padding-right: 70px;
    p{
        padding: 15px 0px 25px;
    }
}

/*============ donate_area css ===============*/
.donate_area{
    background: #2766c5;
    padding: 0px;
    margin: 0px;
    width: 100%;
    background-size: cover;
}
.donate_content{
    h2{
        font-weight: 600;
        font-size: 36px;
        line-height: 45px;
        color: #fff;
        padding-bottom: 20px;
    }
    p{
        color: #fff;
        margin-bottom: 0px;
    }
}
.donation_form{
    text-align: center;
    background: #fff;
    padding: 40px 25px 50px;
    h3{
        font-size: 18px;
        color: $dark;
        padding-bottom: 24px;
    }
    .form-group{
        padding: 0px 5px;
        width: calc(100% / 4);
        float: left;
        .form-control,select{
            border: 1px solid #eeeeee;
            border-radius: 0px;
            font-size: 13px;
            line-height: 40px;
            padding-left: 20px;
            height: 40px;
            width: 100%;
            @include placeholder{
                color: #777;
            }
        }
    }
    .btn_hover_two{
        margin-top: 15px;
    }
}

/*========== event_blog_area css ==========*/
.event_blog_area{
    
}
.event_title{
    font-size: 24px;
    line-height: 30px;
    color: $dark;
    font-weight: 600;
    padding-top: 20px;
    transition: all 0.3s linear;
    &:hover{
        color: $light_blue;
    }
}
.event_post{
    h3 {
        color: black;
    }
    h4 {
        color: black;
    }
    text-align: center;
    .host-logo{
        width: 300px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    img{
        max-width: 100%;
    }
    .event_category{
        padding-bottom: 20px;
    }
}
.event_category{
    li{
        padding-bottom: 8px;
        i{
            font-weight: 600;  
            color: $dark;
        }
    }
}

.ministries_info{
    margin-bottom: -44px;
    .event_post{
        margin-bottom: 44px;
        p{
            padding-right: 50px;
            padding-top: 10px;
        }
    }
}

/*========== event_two css ==========*/
.event_two{
    margin-bottom: -50px;
    .event_post{
        margin-bottom: 50px;
    }
}


/*============ event_details_area css ==========*/
.event_details_area{
    .event_category{
        padding: 0px;
    }
}
.event_details{
    padding-top: 16px;
    p{
        margin-top: 24px;
        margin-bottom: 0px;
    }
}
