@charset "UTF-8";
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", "PingFang SC", "Noto Sans", "Noto Sans CJK SC", "Microsoft YaHei", "微软雅黑", sans-serif;
  background: #ffffff;
  height: 100%; }

#top-nav {
  background-color: #fff !important; }
  #top-nav .container {
    position: relative;
    display: flex;
    justify-content: space-between; }
  #top-nav .navbar-toggler {
    border-color: transparent;
    outline: none; }
  #top-nav .collapse {
    margin: 0 auto; }
  #top-nav #nav-logo {
    position: absolute;
    left: 0;
    top: 0; }
    #top-nav #nav-logo img {
      max-height: 28px; }
  #top-nav #navbarNav .navbar-nav {
    margin: 0 auto;
    margin-right: 0px; }
    #top-nav #navbarNav .navbar-nav .nav-link {
      padding-left: 1em;
      padding-right: 1em;
      border-bottom: 2px solid transparent;
      transition: border-bottom .3s; }
      #top-nav #navbarNav .navbar-nav .nav-link.active {
        border-bottom-color: #e5692f; }

#main {
  padding-top: 56px; }
  #main #start #start-pic {
    position: relative;
    background: #222;
    height: 550px;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden; }
    @media screen and (min-width: 768px) {
      #main #start #start-pic {
        margin-top: 0px;
        background: #222222;
        height: 500px; } }
    #main #start #start-pic #start-bg {
      width: 100%;
      height: 100%;
      background: url(../image/home-bg.png) center;
      background-size: cover;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 5; }
    #main #start #start-pic #start-btn-cover {
      position: absolute;
      width: 100%;
      height: 60px;
      left: 0;
      bottom: 10px;
      z-index: 20; }
      #main #start #start-pic #start-btn-cover #start-join-btn {
        color: #ffffff;
        background: #e5692f;
        width: 100%;
        max-width: 300px;
        text-align: center;
        display: block;
        margin: 0 auto;
        height: 60px;
        line-height: 60px;
        font-size: 120%;
        transition: transform .3s, font-size .3s, background .3s;
        outline: none; }
        #main #start #start-pic #start-btn-cover #start-join-btn:hover {
          text-decoration: none;
          transform: scale(1.1);
          font-size: 110%; }
        #main #start #start-pic #start-btn-cover #start-join-btn:active {
          transform: scale(1);
          font-size: 120%;
          background: #9b3e13; }
  #main #start #start-info {
    margin-top: 10px; }
    #main #start #start-info #start-date {
      background-image: none;
      background-image: linear-gradient(0deg, #fafafa 25%, rgba(250, 250, 250, 0) 100%), url(../image/info-pic/box.svg);
      background-repeat: no-repeat, repeat;
      background-position: top center;
      background-size: 100% 100%, 40px auto; }
    #main #start #start-info #start-map {
      background-image: none;
      background-image: linear-gradient(0deg, #fafafa 25%, rgba(250, 250, 250, 0) 100%), url(../image/info-pic/map.png);
      background-repeat: no-repeat;
      background-position: top center;
      background-size: 100% auto; }
    #main #start #start-info .container .col-sm {
      margin-bottom: 10px;
      padding-top: 40px;
      padding-bottom: 40px;
      background: #fafafa;
      text-align: center; }
      @media screen and (min-width: 768px) {
        #main #start #start-info .container .col-sm {
          margin-bottom: 0; }
          #main #start #start-info .container .col-sm:first-child {
            margin-right: 5px; }
          #main #start #start-info .container .col-sm:last-child {
            margin-left: 5px; } }
      #main #start #start-info .container .col-sm .start-icon {
        width: 32px;
        margin-bottom: 15px; }
      #main #start #start-info .container .col-sm h1 {
        font-weight: normal;
        font-size: 1.7rem; }
        @media screen and (min-width: 768px) {
          #main #start #start-info .container .col-sm h1 {
            font-size: 2rem; } }
        #main #start #start-info .container .col-sm h1 span {
          opacity: 0.3;
          padding: 0 5px; }
      #main #start #start-info .container .col-sm p {
        margin-bottom: 0;
        padding-bottom: 0; }
      #main #start #start-info .container .col-sm a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #e5692f;
        margin-top: 15px;
        margin-right: -1rem; }
        #main #start #start-info .container .col-sm a span {
          border-bottom: 2px solid rgba(229, 105, 47, 0.3);
          transition: border-bottom .3s; }
        #main #start #start-info .container .col-sm a:hover {
          text-decoration: none; }
          #main #start #start-info .container .col-sm a:hover .start-right-arrow {
            transform: translateX(2px); }
          #main #start #start-info .container .col-sm a:hover span {
            border-bottom: 2px solid rgba(229, 105, 47, 0.7); }
        #main #start #start-info .container .col-sm a .start-right-arrow {
          display: inline-block;
          height: 1.5rem;
          transition: transform .3s; }
  #main .m-section {
    margin-top: 70px; }
    #main .m-section .m-title {
      font-size: 1.8rem;
      margin-bottom: 0.8em;
      padding-left: 1em;
      position: relative; }
      @media screen and (min-width: 768px) {
        #main .m-section .m-title {
          font-size: 2.5rem; } }
      #main .m-section .m-title span {
        color: #e5692f;
        position: absolute;
        left: 0;
        top: 0; }
    #main .m-section .m-narrow {
      max-width: 840px; }
    #main .m-section .m-letter {
      background: #e5692f;
      padding: 20px;
      z-index: 100;
      position: relative;
      color: rgba(255, 255, 255, 0.9);
      text-align: justify; }
      @media screen and (min-width: 768px) {
        #main .m-section .m-letter {
          padding: 40px;
          margin-top: -50px; } }
      #main .m-section .m-letter b {
        color: #fff; }
    #main .m-section#about p {
      margin: 0px; }
    #main .m-section#system #hosts-logo {
      margin-top: 15px;
      margin-bottom: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly; }
      #main .m-section#system #hosts-logo #dora-logo {
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 5px;
        background-color: #F26F21;
        width: 300px;
        height: 60px; }
        #main .m-section#system #hosts-logo #dora-logo img {
          width: 280px; }
      #main .m-section#system #hosts-logo #abc-logo {
        margin-bottom: 20px; }
        #main .m-section#system #hosts-logo #abc-logo img {
          height: 60px; }
      #main .m-section#system #hosts-logo .logo-container {
        width: 40%;
        text-align: center; }
    #main .m-section#system .m-row p {
      text-align: justify;
      line-height: 1.75; }
    @media screen and (min-width: 768px) {
      #main .m-section#system .m-row > .col-sm-4 > p {
        padding-top: 30px; } }
    #main .m-section#system .m-row > .col-sm-4 > p u {
      text-decoration: none;
      background: #e5692f;
      color: #ffffff; }
    #main .m-section#system .m-row .row {
      background: #fafafa;
      padding-left: 15px; }
      #main .m-section#system .m-row .row .col-sm {
        padding-bottom: 20px;
        padding-top: 20px; }
        #main .m-section#system .m-row .row .col-sm:last-child {
          border-top: 1px solid rgba(0, 0, 0, 0.15); }
      @media screen and (min-width: 768px) {
        #main .m-section#system .m-row .row {
          margin-left: 15px;
          padding-left: 30px;
          padding-right: 15px;
          padding-top: 30px; }
          #main .m-section#system .m-row .row .col-sm {
            padding-bottom: 0;
            padding-bottom: 20px; }
            #main .m-section#system .m-row .row .col-sm:last-child {
              border-top: none; } }
    #main .m-section#system .m-row .mute {
      opacity: 0.7; }
    #main .m-section#pool #pool-money {
      background: #fafafa;
      padding: 30px;
      text-align: center; }
      #main .m-section#pool #pool-money img {
        display: block;
        width: 40px;
        height: 50px;
        margin: 0 auto; }
      #main .m-section#pool #pool-money h1 {
        font-size: 2rem; }
        @media screen and (min-width: 768px) {
          #main .m-section#pool #pool-money h1 {
            font-size: 4.5rem; } }
      #main .m-section#pool #pool-money h3 {
        font-size: 1.2rem;
        opacity: 0.5; }
        @media screen and (min-width: 768px) {
          #main .m-section#pool #pool-money h3 {
            font-size: 1.75rem; } }
    #main .m-section#pool #pool-more {
      margin-top: 30px; }
      @media screen and (min-width: 768px) {
        #main .m-section#pool #pool-more {
          margin-top: 0; } }
      #main .m-section#pool #pool-more .m-blur {
        color: transparent;
        text-shadow: 0 0 8px #000;
        position: relative; }
        #main .m-section#pool #pool-more .m-blur span {
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          text-align: center;
          padding-top: 10px;
          font-weight: bold;
          color: #e5692f;
          text-shadow: 0 0 4px #fff;
          background: rgba(255, 255, 255, 0.7);
          box-shadow: 0 0 5px #fff; }
    #main .m-section#schedule .schedule-date {
      padding: 8px 12px;
      background: #e5692f;
      color: rgba(255, 255, 255, 0.7); }
      #main .m-section#schedule .schedule-date span {
        color: #ffffff;
        margin-right: 10px; }
    #main .m-section#faq #faq-list p {
      border-top: 1px solid #ececec;
      padding-top: 1em; }
      #main .m-section#faq #faq-list p b {
        display: block;
        color: #e5692f; }
      #main .m-section#faq #faq-list p:last-child {
        padding-bottom: 15px;
        border-bottom: 1px solid #ececec; }
    #main .m-section#faq #faq-more-btn {
      margin-top: 10px;
      padding: 10px 25px;
      background: #e5692f;
      color: #ffffff;
      border-radius: 0;
      transition: background .3s, color .3s; }
      #main .m-section#faq #faq-more-btn:hover {
        background: #eb8a5c; }
      #main .m-section#faq #faq-more-btn:active {
        background: #c85119;
        color: rgba(255, 255, 255, 0.7); }
    #main .m-section#faq #faq-pic {
      width: 100%;
      height: 100%;
      background: url(../image/faq.jpg) no-repeat;
      background-size: cover; }
    #main .m-section#partners .row .col-sm, #main .m-section#partners .row .col-sm-3 {
      text-align: center;
      margin-bottom: 2em; }
    @media screen and (min-width: 768px) {
      #main .m-section#partners .row .partners-sponors img {
        max-width: 600px; } }
    #main .m-section#partners #partner-more {
      margin-bottom: 60px; }
    #main .m-section#partners h4 {
      font-weight: bold;
      color: #e5692f;
      margin-top: 0.5em; }

footer.g {
  background: #e5692f;
  color: #ffffff;
  padding-bottom: 60px;
  padding-top: 30px; }
  footer.g .btn {
    padding: 8px 25px;
    background: #ffffff;
    border-radius: 0;
    color: #e87946;
    width: 100%;
    margin-top: 10px; }
    @media screen and (min-width: 768px) {
      footer.g .btn {
        width: auto;
        margin: 0 10px; } }
  footer.g a {
    color: #ffffff;
    border-bottom: 1px solid #fff;
    transition: all .3s; }
    footer.g a:hover {
      text-decoration: none;
      opacity: 0.8; }
  footer.g p:last-child {
    margin-bottom: 0; }

.m-hidden {
  display: none; }

#video-modal .modal-body {
  padding: 0; }
  #video-modal .modal-body embed {
    width: 100%; }

/*# sourceMappingURL=style.css.map */
